<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Portfolio Wizard</title>
</head>
<header class="header">
    <nav>
        <li><a href="/overview"><button>Overview</button></a></li>
        <li><h3 id="title-heading">Portfolio Wizard</h3></li>
        <li><a href=""><button>...</button></a></li>
    </nav>
</header>