<%- include ('./partials/header.ejs') %> 
<header>
    <h1 id="overview-header">Portfolio Overview</h1>
</header>
<body>
    <div id="list-display">
        <% for(let i = 0; i < currentHoldings.length; i++) { %>
        <div id="list-item-display">
            <h2><a href="/overview/<%=currentHoldings[i]._id%>"><button id="ticker-buttons"><%=currentHoldings[i].tickerSymbol%></button></a></h2>
            <h3>Shares: <%=currentHoldings[i].quantity%></h3>
        </div>
        <% } %>
    </div>
</body>