<%- include ('./partials/header.ejs') %> 
<header>
    <h1 id="overview-header">Portfolio Overview</h1>
</header>
<body>
    <div>
        <% for(let i = 0; i < currentHoldings.length; i++) { %>
        <h2><a href="/overview/<%=currentHoldings[i]._id%>"><%=currentHoldings[i].tickerSymbol%></a></h2>
        <h3>Shares: <%=currentHoldings[i].quantity%></h3>
        <% } %>
    </div>
</body>